/**********************
-----Main Colors:-----
-BLACK: #383737
-DARK-GRAY: #222728
-ORANGE: #ED2010
----------------------
--------Index:--------
1- NAVBAR
2- SHOWCASE
3- CATEGORIES
----------------------
**********************/
*{
  padding: 0px;
  margin: 0px;
  color: #383737;
  list-style: none;
  font-family: monospace, sans-serif;
  box-sizing: border-box;
}
/***********************************
              NAVBAR
***********************************/
#navbar-list{
  position: fixed;
  display: flex;
  height: 50px;
  width: 100%;
  margin-top: -50px;
  background: white;
  border-bottom: 1px rgba(150, 150, 150, 0.2) solid;
  box-shadow: 0px 0px 8px -3px lightgray;
  z-index: 5;
}
.navbar-list-item{
  padding: 15px 10px;
  margin: 0px 25px -1px;
  font-size: 11pt;
  cursor: pointer;
}
.navbar-list-item>a{
  text-decoration: none;
}
.navbar-list-item:hover{
  color: #ED2010;
}
.navbar-list-logo-item{
  order: -1;
  margin: 0px auto -5px 20px;
}
.navbar-list-logo-item>img{
  height: 30px;
  margin: -5px;
}
.navbar-item-active{
  border-bottom: 2px #ED2010 solid;
}
.navbar-item-active>a{
  color: #ED2010;
}

/***********************************
              SECTIONS
***********************************/
.section-title{
  position: relative;
  padding: 5px 10px 5px 0px;
  margin: 10px 10px 10px 60px;
  font-size: 14pt;
  font-weight: 600;
}
.section-title::after{
  position: absolute;
  bottom: -5px;
  left: 0px;
  content: '';
  width: 40px;
  border-bottom: 2px #ED2010 solid;
}
.section-title>span{
  color: #ED2010;
}

/***********************************
              SHOWCASE
***********************************/
#showcase{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 95vh;
  padding: 50px 2%;
  margin-top: 50px;
  background: url('../images/BG83.jpg');
  background-size: 100%;
}
.showcase-description{
  display: flex;
  flex-direction: column;
  height: 70%;
}
#showcase-logo{
  height: 100px;
  width: 300px;
  margin: 0px auto;
}
.showcase-description>p{
  margin: 10px 0px;
  text-align: center;
  font-size: 20px;
}
.showcase-search{
  display: flex;
  width: 80%;
  margin: 20px auto 0px;
}
.showcase-search>input{
  width: 85%;
  padding: 12px 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border: 1px rgba(180, 180, 180, 1) solid;
}
.showcase-search>button{
  width: 50px;
  padding: 4px 0px 2px;
  margin-left: -1px;
  background: white;
  border: 1px rgba(180, 180, 180, 1) solid;
}
.showcase-search>button+button{
  width: 45px;
  padding: 6px 0px 2px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/***********************************
              GUMS
***********************************/
#les-gams{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 95%;
  padding: 20px 0px;
  margin: 0px auto;
}
#les-gams>div{
  position: relative;
  height: 450px;
  padding: 2px;
  border: 4px white solid;
  overflow: hidden;
}
.gam-c{
  overflow: hidden;
}
.gam-c1{
  width: 55%;
  background: linear-gradient(140deg,rgba(30, 150, 50, 1),white);
}
.gam-c2-c3{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 40%;
}
.gam-c2{
  height: 50%;
  width: 100%;
  margin-bottom: 3px;
  background: linear-gradient(to left top,white,#081D4D);
}
.gam-c3{
  height: 50%;
  width: 100%;
  padding-top: 10px;
  margin-top: 3px;
  background: linear-gradient(to left top,white,#15289F);
}
.gam-picture{
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-10deg);
  mix-blend-mode: multiply;
}
.gam-name{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  color: white;
  font-size: 18pt;
}
.gam-c2>.gam-name, .gam-c3>.gam-name{
  height: 50%;
}
.gam-c1>.gam-picture{
  background-image: url("../images/phones/Oppo-F11-64-GB-removebg-preview.png");
}
.gam-c2>.gam-picture{
  height: 48%;
  background-image: url("../images/phones/Samsung-A50-64-Gb-removebg-preview.png");
}
.gam-c3>.gam-picture{
  height: 48%;
  background-image: url("../images/phones/Xiaomi-Xiaomi-Mi-9T-128-GB-removebg-preview.png");
}

/***********************************
              CATEGORIES
***********************************/
#categories{
  display: flex;
  justify-content: space-around;
  width: 95%;
  padding: 20px 0px;
  margin: 0px auto;
}
#categories>div{
  position: relative;
  height: 350px;
  width: 25%;
  padding: 2px;
  border: 4px white solid;
  overflow: hidden;
}
.c1{
  background: linear-gradient(to right bottom, white, rgba(30, 150, 50, 1));
}
.c2{
  background: linear-gradient(to right bottom,white,#081D4D);
}
.c3{
  background: linear-gradient(to right bottom,white,#15289F);
}
.c4{
  background: linear-gradient(to right bottom,white,black);
}
.categorie-picture{
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  transform: rotate(-10deg);
  mix-blend-mode: multiply;
}
.categorie-name{
  position: relative;
  top: 90%;
  width: 101%;
  padding: 5px 20px;
  color: white;
  background: #ED2010;
  font-size: 18pt;
  text-align: center;
  mix-blend-mode: exclusion;
}
.c1>.categorie-picture{
  background-image: url("../images/phones/LG-K40-removebg-preview.png");
}
.c2>.categorie-picture{
  background-image: url("../images/phones/Oppo-F11-64-GB-removebg-preview.png");
}
.c3>.categorie-picture{
  background-image: url("../images/phones/Samsung-A50-64-Gb-removebg-preview.png");
}
.c4>.categorie-picture{
  background-image: url("../images/phones/Xiaomi-Xiaomi-Mi-9T-128-GB-removebg-preview.png");
}

/***********************************
           LES DERNIERS
***********************************/
#les-derniers{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 95%;
  padding: 20px 5px;
  margin: 0px auto;
}
.les-derniers-categorie{
  position: relative;
  width: 350px;
  margin: 20px 0px;
  border: 1px lightgray solid;
  border-radius: 3px;
}
.les-derniers-categorie-title{
  position: absolute;
  top: -10px;
  left: 50%;
  padding: 0px 15px;
  color: #ED2010;
  background: white;
  font-size: 12pt;
  font-weight: 600;
  transform: translateX(-50%);
}
.les-derniers-item{
  display: flex;
  align-items: center;
}
.les-derniers-item:not(:last-child){
  border-bottom: 1px lightgray solid;
}
.les-derniers-item-number{
  margin: 3px 5px 3px 12px;
  color: rgba(237, 32, 16, 0.5);
  font-size: 12pt;
  font-weight: 600;
}
.les-derniers-item-image{
  height: 40px;
  margin: 5px 20px 3px 10px;
}
.les-derniers-item-name{
  font-size: 11pt;
}

/***********************************
                 VS
***********************************/
#vs-section{
  display: flex;
  width: 95%;
  padding: 20px 20px;
  margin: 0px auto;
}
.phone-vs-phone{
  position: relative;
  display: flex;
  height: 120px;
  width: 210px;
  margin: 0px 10px;
  overflow: hidden;
}
.phone-vs-phone-picture{
  height: 200px;
  width: 95px;
  margin: 0px 5px;
}
.vs{
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 5px 5px 2px;
  background: white;
  border-radius: 50%;
  transform: translateX(-50%) translateY(-50%);
}

/***********************************
               FOOTER
***********************************/
footer{
  position: relative;
  height: 390px;
  margin-top: 20px;
  background: #3E3E3E;
  border-top: 1px rgba(150, 150, 150, 0.2) solid;
  box-shadow: 0px 0px 8px -3px lightgray;
}
footer>p{
  color: #ED2010;
  padding: 20px 0px;
  font-size: 13pt;
  font-weight: 600;
  text-align: center;
}
#footer-bottom{
  position: absolute;
  bottom: 0px;
  width: 100%;
  border-top: 1px rgba(150, 150, 150, 0.3) solid;
  background: transparent;
}
#footer-bottom>p{
  padding: 20px 0px;
  color: white;
  text-align: center;
  font-size: 9pt;
}

/***********************************
             SCROLLBAR
***********************************/
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border: 3px solid #ededed;
}

::-webkit-scrollbar-track {
  background: #ededed;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  width: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}


/************END*************/
